{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
{{ attach_library('classy/node') }}
<div{{ attributes.addClass(classes) }}>

  {{ title_prefix }}
  {% if not page %}
    <h2{{ title_attributes }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h2>
  {% endif %}
  {{ title_suffix }}

  <header class="lead-header text-left bg-primary-tint">
      <div class="row">
          <div class="medium-12 columns">
              <h1 class="lead-header_title">{{ label }}</h1>
              <div class="results-header">
                  <p class="results-header_values">{{ content.field_subtitle.0 }}</p>
                  <p class="tiny"><a href="{{ path('ccsf_oceia.help') }}">Start a new search</a>
              </div>
          </div>
      </div>
      <section class="call-to-action">
          {{ content.field_cta.0 }}
      </section>
  </header>

  <section class="results-section border-top">
    <div class="row">
        <div class="small-12 columns results-section-header">
            <div class="status-header_content">
                <hgroup class="status-header_group">
                    <div class="status-header_icon">
                        <span class="ui-icon ui-xlarge">
                            <svg>
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i-building"></use>
                            </svg>
                        </span>
                    </div>
                    <h2 class="status-header_title gamma">Who can help</h2>
                    <p class="no-margin">{{ content.body.0 }}</p>
                </hgroup>
            </div>
        </div>
        <div class="print text-right"><a href="javascript:window.print();"><i class="fa fa-print"></i> Print this list</a></div>
    </div>

    <div class="row">
      <div class="small-12 medium-4 columns language-filter content-card">
        <h2 class="t-base t-sans t-bold padding-bottom">Viewing non-profits that support:</h2>
        <div class="check-box-filter">
          <div class="checkbox-group">
            <p class="checkbox-block">
              <input type="checkbox" name="languages" value="en" id="languages-en">
              <label class="checkbox-block_label" for="languages-en">English</label>
            </p>
          </div>
          <p><a role="button" href="" class="button-on-small">
            <span class="ui-icon ui-static ui-medium i-color ">
              <svg><use xlink:href="#i-plus"></use></svg>
              </span>View more languages</a>
         </p>   
          <div class="filter-footer">
            <p>
              <a role="button" href=""><i class="fa fa-times-circle" aria-hidden="true"></i> Clear selected</a>
            </p>
          </div>
        </div>
      </div>
    <div class="small-12 medium-7 columns">
      <ul class="resources-list block-list">
        {% for resource in view_resources %}
        {{ resource }}
        {% endfor %}
      </ul>
    </div>
  </section>

  {% include directory ~ '/templates/includes/results-options.html.twig' %}
  
</div>
