{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
{{ attach_library('classy/node') }}
<div{{ attributes.addClass(classes) }}>

  {{ title_prefix }}
  {% if not page %}
    <h2{{ title_attributes }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h2>
  {% endif %}
  {{ title_suffix }}
  <header{{ attributes.addClass(['lead-header','text-left', node.field_css_class_1.value]) }}>
      <div class="row">
          <div class="medium-12 columns">
              <h1 class="lead-header_title">{{ label }}</h1>
              <div class="results-header">
                  <div class="results-header_values">{{ content.field_subtitle.0 }}</div>
                  <p class="tiny"><a href="{{ path('ccsf_oceia.help') }}">Start a new search</a>
              </div>
          </div>
      </div>
      <section class="call-to-action">
          {{ content.field_cta.0 }}
      </section>
  </header>
  {% if node.body.value %}
  <section class="results-section border-top">
    <div class="row">
        <div class="small-12 columns results-section-header">
            <div class="status-header_content">
                <hgroup class="status-header_group">
                    <div class="status-header_icon">
                        <span class="ui-icon ui-xlarge">
                            <svg>
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i-building"></use>
                            </svg>
                        </span>
                    </div>
                    <h2 class="status-header_title gamma">Who can help</h2>
                    <div class="no-margin">{{ content.body.0 }}</div>
                </hgroup>
            </div>
        </div>
    </div>

    <div class="row">
      {% include directory ~ '/templates/includes/results-languages.html.twig' %}
      <div class="small-12 medium-7 columns">
        <div class="print text-right"><a href="javascript:window.print();"><i class="fa fa-print"></i> Print agency list</a></div>
        <ul class="resources-list block-list">
          {% for resource in view_resources %}
          {{ resource }}
          {% endfor %}
        </ul>
      </div>
    </div>
  </section>
  {% endif %}
  {% include directory ~ '/templates/includes/results-options.html.twig' %}
  
</div>
