{%
  set classes = [
    'block-item',
    'block-item-resources',
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
{{ attach_library('classy/node') }}
{% if page %}
<ul>
{% endif %}
<li{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
    <h3{{ title_attributes.addClass(['t-delta','t-sans','margin-bottom--half']) }}>
      <a href="{{ url }}" rel="bookmark" class="a-oil">{{ label }}</a>
    </h3>
  {{ title_suffix }}
  {% if content.field_languages %}
  <!-- Should not show language services label if no lanugages -->
  {{ content.field_languages }}
  {% endif %}
  <div class="a-icon-left d-block">
    <span class="ui-icon ui-static ui-medium i-color ">
    <svg>
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i-map"></use>
    </svg>
    </span>          
    <p class="offset-icon margin-bottom--half">
    {% if node.field_street_address.value %}
      {{ node.field_street_address.value }} <br>
    {% endif %}
    {{ node.field_city.value }}, {{ node.field_state.value }} {{ content.field_zip_code.value }}
    </p>
  </div>    
  <p>
    {% if node.field_phone.value %}
    <a href="tel:{{ node.field_phone.value }}" class="button-on-small">
    <span class="ui-icon ui-static ui-medium i-color ">
      <svg>
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i-phone"></use>
      </svg>
    </span>
    Call {{ node.field_phone.value }}
    </a>
    {% endif %}
    {% if node.field_url.value %}
    <a href="{{ node.field_url.value }}" class="button-on-small" target="_blank">
    <span class="ui-icon ui-static ui-medium i-color ">
      <svg>
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i-link"></use>
      </svg>
    </span>
    {{ node.field_url.value|replace({'http://': '', 'https://': ''})|trim('/') }}
    </a>
    {% endif %}
  </p>
</li>
{% if page %}
</ul>
{% endif %}
