{{ block_language }}

<div class="version-bar bar bg-primary">
  <div class="row">
    <div class="medium-12 columns">
      <p class="text-right t-small c-white no-margin">This site is in <strong class="t-caps">ALPHA</strong>. We're just getting started! We'd love to get <a href="https://docs.google.com/forms/d/e/1FAIpQLScMn0TFc49bVQEWERrN_pwSS6M7A6BogcaEXjgUb8ge4DcLww/viewform" target="_blank" class="a-white lined">your feedback</a>.</p>
    </div>
  </div>
</div>
<nav class="top-bar" role="navigation">
  <div class="row">
  <ul class="title-area">
    <li class="name">
      <h1 class="name-logo t-alt-sans"><a href="{{ url('<front>') }}">Office of Civic Engagement &amp; Immigrant Affairs</a></h1>
    </li>

    <li class="toggle-topbar menu-icon">
      <button href="#" class="button-link t-caps t-bold">
        Menu
        <span class="ui-icon ui-static ui-large i-primary">
          <svg>
            <use xlink:href="#i-menu"></use>
          </svg>
        </span>      </button>
      </li>
  </ul>
  <section class="top-bar-section">
    <ul class="nav-menu right">
      <li>
        <a href="{{ url('<front>') }}">
          {{ 'Home'|t }}
        </a>
      </li>
      <li>
        <a href="{{ path('ccsf_oceia.help') }}">
          {{ 'Find Help'|t }}
        </a>
      </li>  

    </ul>
  </section>
  </div>
</nav>
<div class="nav-mobile_container hidden">
  <header class="nav-mobile_header"><button aria-label="Close Menu" class="nav-mobile_menu-icon nav-mobile-topfocus i-white button-link nav-mobile-focus" title="Close Menu"><span class="ui-icon ui-medium i-white"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i-right"></use></svg></span></button></header>
  <ul class="nav-mobile">
    <li class="">
      <a href="{{ url('<front>') }}">{{ 'Home'|t }}</a>
    </li>
    <li class="">
      <a href="{{ path('ccsf_oceia.help') }}">{{ 'Find Help'|t }}</a>
    </li>
  </ul>
</div>