<header class="lead-header bg-image bg-gradient margin-bottom--2x">
  <div class="row">
    <div class="large-12 columns">
      <div class="lead-header_group">
        <h1 class="lead-header_title c-white">Find immigration legal help</h1>
      </div>
    </div>
  </div>
</header>

<div class="row margin-bottom--2x">
  <div class="medium-6 medium-centered columns">
  <div class="app-card form-card" id="oceia-help">

  <section class="question" id="question-insf">

    <div>
      <header class="app-inner leader border-bottom">
        <h2 class="app-card_question">Does the person who needs help live, work, or go to school in San Francisco?</h2>
      </header>
   </div>

    <div class="app-inner inset">
      <div class="radio-group">
        <p class="radio-block">
          <input type="radio" name="insf" value="question-detention" id="insf-yes">
          <label class="radio-block_label" for="insf-yes">Yes</label>
        </p>
        <p class="radio-block">
          <input type="radio" name="insf" value="question-sfconnection" id="insf-no">
          <label class="radio-block_label" for="insf-no">No</label>
        </p>
      </div><!--radio-group-->
    </div><!--app-inner-->
    <div class="button-pager">
      <div class="button-pager_row primary">
        <button class="button primary" data-name="insf" data-next="value">Next</button>
      </div>
    </div>
  </section>

  <section class="question" id="question-sfconnection">
    <div class="form-back">
      <a data-href="question-insf" class="lined margin-right"><i class="fa fa-angle-left" aria-hidden="true"></i> Back</a>
    </div>
    
    <div>
      <header class="app-inner leader">
        <h2 class="app-card_question text-left">The resources here are only for immigrants who live, work, or go to school in San Francisco. Visit immi.org to find legal help throughout the United States.</h2>
      </header>
   </div>
    <div class="button-pager">
      <div class="button-pager_row">
        <a class="button radius primary" href="https://www.immi.org/" target="_blank">Visit immi.org</a>
      </div>
    </div>
  </section>


  <section class="question" id="question-resident">
    <div class="form-back">
      <a data-href="question-case" class="lined margin-right"><i class="fa fa-angle-left" aria-hidden="true"></i> Back</a>
    </div>
    <div>
      <header class="app-inner leader border-bottom">
        <h2 class="app-card_question">Do they have a Green Card?</h2>
        <p class="form-note margin-bottom ng-scope">A Green Card is also called a Permanent Resident Card.</p>
      </header>
   </div>
    <div class="app-inner inset">
      <div class="radio-group">
        <p class="radio-block">
          <input type="radio" name="resident" value="{{ path('entity.node.canonical', {'node': 19}) }}" id="resident-yes">
          <label class="radio-block_label" for="resident-yes">Yes</label>
        </p>
        <p class="radio-block">
          <input type="radio" name="resident" value="{{ path('entity.node.canonical', {'node': 24}) }}" id="resident-no">
          <label class="radio-block_label" for="resident-no">No</label>
        </p>
         <p class="radio-block">
          <input type="radio" name="resident" value="{{ path('entity.node.canonical', {'node': 24}) }}" id="resident-notsure">
          <label class="radio-block_label" for="resident-notsure">I'm not sure</label>
        </p>
      </div><!--radio-group-->
    </div><!--app-inner-->
    <div class="button-pager">
      <div class="button-pager_row primary">
        <button class="button primary" data-name="resident" data-next="value">Next</button>
      </div>
    </div>
  </section>
  
  <section class="question" id="question-detention">

    <div class="form-back">
      <a data-href="question-insf" class="lined margin-right"><i class="fa fa-angle-left" aria-hidden="true"></i> Back</a>
    </div>

    <div>
      <header class="app-inner leader border-bottom">
        <h2 class="app-card_question">Are they in detention right now?</h2>
      </header>
    </div>

    <div class="app-inner inset">
      <div class="radio-group">
        <p class="radio-block">
          <input type="radio" name="detention" value="question-location" id="detention-yes">
          <label class="radio-block_label" for="detention-yes">Yes</label>
        </p>
        <p class="radio-block">
          <input type="radio" name="detention" value="question-case" id="detention-no">
          <label class="radio-block_label" for="detention-no">No</label>
        </p>
      </div>
    </div>
    
    <div class="button-pager">
      <div class="button-pager_row primary">
        <button class="button primary" data-name="detention" data-error="Choose one of the following" data-next="value">Next</button>
      </div>
    </div>
  </section>

  <section class="question" id="question-location">

    <div class="form-back">
      <a data-href="question-detention" class="lined margin-right"><i class="fa fa-angle-left" aria-hidden="true"></i> Back</a>
    </div>

    <div>
      <header class="app-inner leader border-bottom">
        <h2 class="app-card_question">Where were they detained?</h2>
      </header>
    </div>

    <div class="app-inner inset">
      <div class="radio-group">
        <p class="radio-block">
          <input type="radio" name="location" value="question-when" id="location-sf">
          <label class="radio-block_label" for="location-sf">In San Francisco</label>
        </p>
        <p class="radio-block">
          <input type="radio" name="location" value="{{ path('entity.node.canonical', {'node': 23}) }}" id="location-outside">
          <label class="radio-block_label" for="location-outside">Outside of San Francisco</label>
        </p>
        <p class="radio-block">
          <input type="radio" name="location" value="{{ path('entity.node.canonical', {'node': 23}) }}" id="location-notsure">
          <label class="radio-block_label" for="location-notsure">I'm not sure</label>
        </p>
      </div>
    </div>
    
    <div class="button-pager">
      <div class="button-pager_row primary">
        <button class="button primary" data-name="location" data-error="Choose one of the following" data-next="value">Next</button>
      </div>
    </div>
  </section>

  <section class="question" id="question-when">

    <div class="form-back">
      <a data-href="question-location" class="lined margin-right"><i class="fa fa-angle-left" aria-hidden="true"></i> Back</a>
    </div>
    <div>
      <header class="app-inner leader border-bottom">
        <h2 class="app-card_question">When were they detained?</h2>
      </header>
    </div>
    <div class="app-inner inset">
      <div class="radio-group">
        <p class="radio-block">
          <input type="radio" name="when" value="{{ path('entity.node.canonical', {'node': 22}) }}" id="when-today">
          <label class="radio-block_label" for="when-today">Today</label>
        </p>
        <p class="radio-block">
          <input type="radio" name="when" value="{{ path('entity.node.canonical', {'node': 23}) }}" id="when-past">
          <label class="radio-block_label" for="when-past">Before today</label>
        </p>
        <p class="radio-block">
          <input type="radio" name="when" value="{{ path('entity.node.canonical', {'node': 23}) }}" id="when-notsure">
          <label class="radio-block_label" for="when-notsure">I'm not sure</label>
        </p>
      </div>
    </div>
    <div class="button-pager">
      <div class="button-pager_row primary">
        <button class="button primary" data-name="when" data-error="Choose one of the following" data-next="value">Next</button>
      </div>
    </div>
  </section>

  <section class="question" id="question-case">
    <div class="form-back">
      <a data-href="question-detention" class="lined margin-right"><i class="fa fa-angle-left" aria-hidden="true"></i> Back</a>
    </div>
    <div>
      <header class="app-inner leader border-bottom">
      <h2 class="app-card_question">Do they have an active immigration court case?</h2>
      <p class="form-note margin-bottom ng-scope">An immigration court case may also be called a deportation case.</p>
    </header>
  </div>
    <div class="app-inner inset">
     <div class="radio-group">
        <p class="radio-block">
        <input type="radio" name="case" value="{{ path('entity.node.canonical', {'node': 21}) }}" id="case-court">
        <label class="radio-block_label" for="case-court">Yes</label>
        </p>
        <p class="radio-block">
        <input type="radio" name="case" value="question-resident" id="case-no">
        <label class="radio-block_label" for="case-no">No</label>
        </p>
        <p class="radio-block">
        <input type="radio" name="case" value="question-resident" id="case-notsure">
        <label class="radio-block_label" for="case-notsure">I'm not sure</label>
        </p>
    </div>
    </div>
    
    <div class="button-pager">
      <div class="button-pager_row primary">
        <button class="button primary" data-name="case" data-error="Choose one of the following" data-next="value">Next</button>
      </div>
    </div>
  </section>



  </div>
  </div>
  </div>